body{
    width: 100%;
    height: 100%;
    
    /* background-image: linear-gradient(to bottom right, red , blue); */
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom right, red , blue);
}
.login_header{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.utc_icon{
    width: 112px;
}
.login_container{
    
    position: relative;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.login_content{
    --width: 600px;
    min-height: 500px;
    border-radius: 8px;
    background: #fff;
    padding: 48px 16px;
    width: var(--width);
    max-width: calc(100vw - 32px);
    position: relative;
}
.EMAIL{
    --height: 44px;
    width: 320px;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    border: 2px solid #dce0e3;
    background-color: #fff;
    border-radius: 44px;
    display: inline-block;
    position: absolute;
    padding-left: 16px;
    top: 45%;
    left: 146px;
}
.user_icon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}
.login_button{
    font-weight: 600;
    line-height: 40px;
    outline: 0;
    text-align: center;
    cursor: pointer;
    color: #35414c;
    font-size: 16px;
}
.GG{
    --height: 44px;
    width: 320px;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    border: 2px solid #dce0e3;
    background-color: #fff;
    border-radius: 44px;
    display: inline-block;
    position: absolute;
    padding-left: 16px;
    top: 55%;
    left: 146px;
}
.gg_icon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}
.FB{
    --height: 44px;
    width: 320px;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    border: 2px solid #dce0e3;
    background-color: #fff;
    border-radius: 44px;
    display: inline-block;
    position: absolute;
    padding-left: 16px;
    top: 65%;
    left: 146px;
}
.fb_icon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}
.signup{
    font-size: 24xp;
    line-height: 1.8;
    padding: 24px 16px 0;
    margin-bottom: 0;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 183.9px;
}
.DK{
    color: red;
    text-decoration: none;
}