*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header{
    width: 100%;
    height: 48px;
    background-color: rgb(238, 224, 118); 
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #fff;
}
ul li{
    height: 48px;
    display: inline-block;
    float: left;
}
ul li a{
    padding: 0 12px;
}

ul .content:hover a{
    background-color: #ffc107;
    color: white;
    display: inline-block;

} 

.content>a{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #000;
    text-decoration: none;
    position: relative;
    top: 5px;
    left: 5px;
}


.nut{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nut1{
    background-color: rgb(238, 224, 118);
    border-color: rgb(238, 224, 118);
    position: absolute;
    left: 1400px;
    top: 5px;
    text-decoration: none;
    color: #000;
}
.nut1:hover{
    background-color: #ffc107;
    color: white;
    display: inline-block;
}
form.text_src input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 24px;
    float: left;
    width: 280px;
    background: rgb(235, 226, 152);;
    position: absolute;
    top: 2.5px;
    left: 1060px;
}
.icon_sr{
    width: 44px;
    height: 44px;
}
.search{
    width: 44px;
    height: 44px;
    background-color: rgb(238, 224, 118);
    border: none;
    float: left;
    font-size: 17px;
    position: absolute;
    left: 1344px;
    top: 1.5px;
    border-radius: 0.5rem;
}
.search:hover{
    background-color: #ffc107;
}
.search_icon{
    width: 48px;
    height: 48px;
}


#footer{
    --height: 32px;
    position: fixed;
    bottom: 0;
    height: var(--height);
    left: 0;
    right: 0;
    z-index: 9;
    background-color: rgb(211, 211, 211);
    border-top: 1px solid #e8ebed;
    padding: 0 20px;
    display: flex;
    align-items: center;
    will-change: transform;
    transition: transform .5s ease,-webkit-transform .5s ease;
}
.UTC_icon{
    width: 24px;
    position: absolute;
    top: 4px;
}
.footer_content{
    display: flex;
    padding-left: 16px;
}
.footer_content li a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    padding-left: 32px;
    padding-top: 4px;
    display: block;
    text-decoration: none;
    position: relative;
    top: 11px;
    font-family: Arial, Helvetica, sans-serif;
}


  



